flask==2.3.3
flask-cors==4.0.0
boto3==1.28.57
pymongo==4.5.0
firebase-admin==6.2.0
mediapipe==0.10.7
numpy==1.26.0
opencv-python==4.8.1





# Essential Libraries
# Flask==3.0.0
# Flask-CORS==3.0.10
# opencv-python==4.8.0.74
# imageio-ffmpeg==0.4.7
# mediapipe== 0.10.11
# numpy<2.0

# # Machine Learning
#  Libraries
# tensorflow==2.13.0
